*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid green; */
}
.edit-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

.item-list-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  /* border: 1px solid greenyellow; */

}

.edit-btn, .delete-btn, .save-btn {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  /* border: 1px solid greenyellow; */
  
}
.completed .item-text {
  /* text-decoration: line-through; */
  color: green;
}
